---
layout: default
---
/ Page Loader
.preloader
  .spinner
    .bounce1
    .bounce2
    .bounce3
#navigation
  .navbar.navbar-fixed-top{:role => "banner"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/"}
          %img.img-responsive{:alt => "logo", :src => "{% asset_path logo_icon.png %}"}
          %h1.hidden-xs
            -# %span.lockstep LOCKSTEP
            -# %span.labs LOCKSTEP
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.scroll.active
            %a{:href => "#main-home-section"} Home
          -# %li.scroll
          -#   %a{:href => "#about-us"} About Us
          %li.scroll
            %a{:href => "#portfolio"} Our Work
          -# %li.scroll
          -#   %a{:href => "#our-team"} Team
          -# %li.scroll
          -#   %a{:href => "#hot-octopus"} Hot Features
          -# %li.scroll
          -#   %a{:href => "#blog"} Blog
          %li.scroll
            %a{:href => "#contact-us"} Contact
          %li.scroll
#main-home-section
  .container
    .home-section-text
      %h1
        %span.text-thin We Build
        %br
        %span.text-blue Web and Mobile Applications
        -# %br
        -# %span.text-thin That Meet
        -# %br
        -# %span.text-blue Your Business Objectives
      %hr
      .row.visible-xs
        .technologies
          %span#typewriter
      .row.hidden-xs
        .col-sm-4
          %ul.tech-list
            %li Ruby on Rails
            %li Node.js
            %li Clojure
            %li PostgreSQL
            %li MySQL
            %li MongoDB

        .col-sm-4
          %ul.tech-list
            %li iOS
            %li Android
            %li ReactJS
            %li AngularJS
            %li jQuery
            %li Bootstrap

        .col-sm-4
          %ul.tech-list
            %li AWS
            %li Git
            %li RSpec
            %li Capybara
            %li Vim
            %li Emacs

    .hidden-xs
      %a.smooth-scroll{"data-scroll" => "", :href => "#brief-about-section"}
        .mouse-icon
          .wheel
          %i.fa.fa-angle-down
    -# %div.logo-pieces
    -#   %img(src="{% asset_path logo_icon_top.png %}" class="top-piece")
    -#   %img(src="{% asset_path logo_icon_bottom.png %}" class="bottom-piece")
    -# %h1.main-logo-text
    -#   %span.lockstep LOCKSTEP
    -#   %span.labs LABS

#brief-about-section
  .container
    %hr
    .row.text-center
      %p.about-subtext
        We are a small team of passionate technologists. We partner with our
        clients to
        = succeed ',' do
          %b build
        %b nurture
        and
        %b scale
        web and mobile solutions.
    %hr
    .row.team-members.text-center
      .col-xs-12
        .member-image
          %img.img-responsive{:alt => "Paul", :src => "{% asset_path team/paul_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Mac", :src => "{% asset_path team/mac_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Jan", :src => "{% asset_path team/jan_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Ek", :src => "{% asset_path team/ek_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Nitish", :src => "{% asset_path team/nitish.jpg %}"}
        .member-image
          %img.img-responsive{:alt => "Maxim", :src => "{% asset_path team/maxim_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Nat", :src => "{% asset_path team/nat_cir.png %}"}
        -# .member-image
        -#   %img.img-responsive{:alt => "Nut", :src => "{% asset_path team/nut_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Erik", :src => "{% asset_path team/erik.jpg %}"}
        .member-image
          %img.img-responsive{:alt => "Got", :src => "{% asset_path team/got_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Nook", :src => "{% asset_path team/nook.jpg %}"}
        .member-image
          %img.img-responsive{:alt => "Terng", :src => "{% asset_path team/terng.jpg %}"}
        .member-image
          %img.img-responsive{:alt => "Dan", :src => "{% asset_path team/dan.jpg %}"}
        .member-image
          %img.img-responsive{:alt => "Gun", :src => "{% asset_path team/gun_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Noey", :src => "{% asset_path team/noey_cir.png %}"}
        .member-image
          %img.img-responsive{:alt => "Vova", :src => "{% asset_path team/vova.png  %}"}
        .member-image
          %img.img-responsive{:alt => "Marino", :src => "{% asset_path team/marino.jpg %}"}
    .row.left-right
      .col-xs-12.col-sm-6
        %img.img-responsive{ src: "{% asset_path team/top.jpg %}" }
      .col-xs-12.col-sm-6
        %img.img-responsive{ src: "{% asset_path team/right.jpg %}" }
      .col-xs-12.col-sm-6
        %img.img-responsive{ src: "{% asset_path team/left.jpg %}" }
      .col-xs-12.col-sm-6
        %img.img-responsive{ src: "{% asset_path team/bottom.jpg %}" }

    %hr

#are-awesome
  .container
    .row.logo
      .col-sm-12.col-md-10.col-md-offset-1
        %h1.text-center
          Seasoned Product Management and Engineering
          for Early and Growth-Stage Companies
    .row
      .col-sm-10.col-sm-offset-1
        %p.text-center
          Lockstep teams have partnered with companies from top accelerators including
          Y Combinator, Techstars and Dreamit Ventures.
    .row.press-logos
      .col-xs-4.col-md-2.col-md-offset-3
        .logo-container.drop-me
          %a.logo{ href: 'https://www.ycombinator.com/', target: '_blank' }
            %img.img-responsive{alt: 'Y Combinator', src: "{% asset_path logos/ycomb.jpg%}"}
      .col-xs-4.col-md-2
        .logo-container
          %a.logo{href: 'http://www.techstars.com/', target: '_blank'}
            %img.img-responsive{alt: 'Techstars', src: "{% asset_path logos/techstars.png %}"}
      .col-xs-4.col-md-2
        .logo-container.drop-me
          %a.logo{href: 'http://www.dreamit.com/', target: '_blank'}
            %img.img-responsive{alt: 'Dreamit', src: "{% asset_path logos/dreamit.jpg %}"}

#featured-client
  .container
    .row
      .col-sm-12
        .section-label-divider
    .row
      .col-sm-4.col-sm-offset-4
        .section-label Recent Projects
    %br
    .row.projects
      .col-sm-4
        %img.img-responsive{alt: 'Bungalow', src: "{% asset_path portfolio/bungalow_devices.png %}"}
        %h3.text-center Bungalow Insurance
        %p.text-center
          Bungalow is making renters insurance dead simple for the next
          generator of millennial renters. No calls to insurance reps necessary,
          just a seamless web or mobile workflow.
      .col-sm-4
        %img.img-responsive{alt: 'Plutocrat', src: "{% asset_path portfolio/plutocrat.png %}"}
        %h3.text-center Plutocrat
        %p.text-center
          Plutocrat is a native iOS/Android game. Think high-stakes King
          of the Hill, where the objective is to top the leaderboard by
          literally buying your competitors out of the game.
      .col-sm-4
        %img.img-responsive{alt: 'The Montessori Company', src: "{% asset_path portfolio/tmc_device.png %}"}
        %h3.text-center The Montessori Company
        %p.text-center
          TMC creates beautiful, hand-illustrated materials for Montessori
          environments. We built a custom E-commerce solution with sophisticated
          analytical tools critical to addressing this niche market.

    .row
      .col-sm-12.testimonial
        .wrapper
          %p
            Paul and his team offer the unique combination of outstanding
            capabilities, extensive startup experience, and affordable rates
            that make his firm perfect for a new venture. Whether you work with
            Lockstep as your primary developer or to supplement in-house resources,
            his firm is exactly the type of 'unfair advantage' that can mean
            the difference between success and failure.
          %p Tom Austin, Bungalow Co-Founder

  .intro
    .container
      .row
        .col-sm-12
          %h2 The easiest way to buy and sell furniture.

  .container.main
    .row
      .col-sm-12
        %h1.text-center
          Move Loot: Special Projects and Team Extension
        %p.text-center
          Lockstep teams worked closely with
          Move Loot's core development group on a variety of ambitious
          initiatives, including an integrated inventory management application
          for furniture retailers and a custom logistics system that powered
          Move Loot's complex distribution network. Lockstep also supported legacy
          Move Loot infrastructure, including their marketing systems and the
          core Marketplace application.
        %p.text-center
          Move Loot ceased operations in June 2016 but we are happy
          to demo snapshots of these projects by request.
    .row.projects
      .col-sm-12.project
        .row
          .col-sm-6
            %img.img-responsive{alt: 'Trade', src: "{% asset_path portfolio/trade.png%}"}
          .col-sm-6
            %h1 Trade
            %h4 Modern Inventory Management
            %p
              Trade was a fully integrated, modern inventory management
              solution that tied directly into the highly trafficked Move Loot
              Marketplace. Furniture vendors from small consignment shops
              to national retailers leveraged Trade to track in-house
              supply and channel sales through Move Loot's extensive buyer
              network.
            %p
              Trade was powered by some of our favorite technologies, including
              a Ruby on Rails API and an interactive ReactJS front end.
      .col-sm-12.project
        .row
          .col-sm-6
            %img.img-responsive{alt: 'Transporter', src: "{% asset_path portfolio/transporter.png%}"}
          .col-sm-6
            %h1 Transporter
            %h4 Nationwide Shipping Logistics
            %p
              Move Loot moved literally <i>tons</i> of furniture all over
              the country, from sellers to warehouses to buyers
              or the appropriate recycling facilities. Their massive
              coordination effort was handled smoothly with Transporter, a custom
              logistics solution perfectly tailored to Move Loot's unique
              needs.
            %p
              Transporter communicated with a series of systems in
              order to move products from A to B, including the Move Loot
              Marketplace and one of Move Loot's proprietary mobile
              applications. The core system was written in Ruby and the
              front end was ReactJS coupled with Reflux (an offshoot of
              Facebook's Flux architecture).
    -# .row.projects
    -#   .col-sm-6.project
    -#     %h2.text-center Email
    -#     %h4.text-center Customizable Templates
    -#   .col-sm-6.project
    -#     %h2.text-center Marketplace
    -#     %h4.text-center On-demand Generalists

#handcrafted
  .container
    .row
      %h1 Our Values, Our Craft
      %p
        Our team values people over tools, quality over speed and effective
        communication over technical skill. We have lots of experience launching
        innovative products, so we help our clients navigate the early product
        life cycle with best-practice product development strategies.

#backdrop
#overlay

/ /#about us
-# #promo-one.parallax-section
-#   .parallax-content
-#     .color-overlay
-#     .container.text-center
-#       %h2 Octopus has unique and modern design!
-#       %p Designed for Creative Agency
-#       %a.btn.btn-primary{:href => "#"} Buy Theme
-# / /parallax-section
-# %section#why-us.padding-top
-#   .container
-#     .row.text-center.section-title
-#       .col-sm-8.col-sm-offset-2
-#         %h2 Why Like Us
-#         %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
-#     .row.text-center.like-us
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-bitbucket
-#         .about-text
-#           %h3 Fresh Design
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-cloud
-#         .about-text
-#           %h3 Useful features
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-cog
-#         .about-text
-#           %h3 Easy Customization
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-coffee
-#         .about-text
-#           %h3 Preset Style
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-laptop
-#         .about-text
-#           %h3 Free Updates
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-paper-plane
-#         .about-text
-#           %h3 Fully Responsive
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-leaf
-#         .about-text
-#           %h3 Dropdown Menu
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#       .col-md-3.col-sm-6.about-content
-#         .about-icon
-#           %i.fa.fa-group{:class => "(alias)"}
-#         .about-text
-#           %h3 Typhography
-#           %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-# / /why-us
-# #promo-two.text-center.parallax-section
-#   .parallax-content
-#     .color-overlay
-#     .container
-#       .row
-#         .col-sm-3
-#           %i.fa.fa-clock-o
-#           %h3.timer{"data-from" => "0", "data-speed" => "7000", "data-to" => "2700"} hidden-time
-#           %h4 Hours Of Work
-#         .col-sm-3
-#           %i.fa.fa-heart
-#           %h3.timer{"data-from" => "0", "data-speed" => "5000", "data-to" => "32"} hidden-time
-#           %h4 Clients Worked
-#         .col-sm-3
-#           %i.fa.fa-paper-plane
-#           %h3.timer{"data-from" => "0", "data-speed" => "5000", "data-to" => "178"} hidden-time
-#           %h4 Project Done
-#         .col-sm-3
-#           %i.fa.fa-coffee
-#           %h3.timer{"data-from" => "0", "data-speed" => "5000", "data-to" => "45"} hidden-time
-#           %h4 Cups of Coffee
-# / /parallax-section
-# %section#why-octopus.padding-top.padding-bottom
-#   .container
-#     .row.text-center.section-title
-#       .col-sm-8.col-sm-offset-2
-#         %h2 Why Octopus
-#         %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
-#     .row
-#       .col-sm-6
-#         .row.octopus-tab
-#           .col-sm-3
-#             %ul.tab-list{:role => "tablist"}
-#               %li.active
-#                 %a{"data-toggle" => "tab", :href => "#html5", :role => "tab"}
-#                   %i.fa.fa-html5
-#                   HTML5
-#               %li
-#                 %a{"data-toggle" => "tab", :href => "#css3", :role => "tab"}
-#                   %i.fa.fa-css3
-#                   CSS3
-#               %li
-#                 %a{"data-toggle" => "tab", :href => "#web-design", :role => "tab"}
-#                   %i.fa.fa-paper-plane
-#                   Design
-#           .col-sm-9
-#             .tab-content
-#               #html5.tab-pane.fade.in.active.off-white
-#                 %h2 We love to work with HTML5
-#                 %img.img-responsive{:alt => "accordion", :src => "{% asset_path accordion/accordion1.jpg %}"}
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
-#               #css3.tab-pane.fade.off-white
-#                 %h2 We love to work with CSS3
-#                 %img.img-responsive{:alt => "accordion", :src => "{% asset_path accordion/accordion2.jpg %}"}
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
-#               #web-design.tab-pane.fade.off-white
-#                 %h2 We love to Design
-#                 %img.img-responsive{:alt => "accordion", :src => "{% asset_path accordion/accordion3.jpg %}"}
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
-#       .col-sm-6
-#         #accordion-two.panel-group
-#           .panel.panel-default
-#             .panel-heading.active
-#               %h4.panel-title
-#                 %a{"data-parent" => "#accordion-two", "data-toggle" => "collapse", :href => "#professional"}
-#                   %i.fa.fa-magic
-#                   Professional Design
-#             #professional.panel-collapse.collapse.in
-#               .panel-body
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
-#           .panel.panel-default
-#             .panel-heading
-#               %h4.panel-title
-#                 %a{"data-parent" => "#accordion-two", "data-toggle" => "collapse", :href => "#customization"}
-#                   %i.fa.fa-cogs
-#                   Easy Customization
-#             #customization.panel-collapse.collapse
-#               .panel-body
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
-#           .panel.panel-default
-#             .panel-heading
-#               %h4.panel-title
-#                 %a{"data-parent" => "#accordion-two", "data-toggle" => "collapse", :href => "#support"}
-#                   %i.fa.fa-envelope
-#                   24/7 Support
-#             #support.panel-collapse.collapse
-#               .panel-body
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
-#           .panel.panel-default
-#             .panel-heading
-#               %h4.panel-title
-#                 %a{"data-parent" => "#accordion-two", "data-toggle" => "collapse", :href => "#help-desk"}
-#                   %i.fa.fa-bitbucket
-#                   Live Help Desk
-#             #help-desk.panel-collapse.collapse
-#               .panel-body
-#                 %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
-# / /#why-octopus
%section#portfolio
  .container
    .row.text-center.section-title
      .col-sm-8.col-sm-offset-2
        %h2 Case Studies
        %hr
    .row.casestudy.text-center
      .container
        .row
          .col-sm-10.col-sm-offset-1
            %h2.casestudy-title RideCache
    .casestudy-image
      %img.img-responsive{:alt => "", :src => "{% asset_path features/ridecache_devices.png %}"}
    .row
      .col-sm-6
        %p
          We've worked with the RideCache team to turn their prototype and wireframes from a
          concept into a scalable, mobile-ready web application. RideCache is poised to become the one-stop shop for
          maintaining and sharing information about your car collections, whether you have a garage full of antiques or a single weekend racer.

      .col-sm-6
        %p
          By maintaining a tight iteration loop and following best-practice Agile methodology
          we've iterated through numerous sprints since the initial build, adding features and
          responding rapidly to user requests. The application boasts a clean, responsive
          interface that leverages AngularJS to give the users a highly interactive, "single-page" feel.

    .row
      .col-sm-12
        %h4 Technologies
        %ul.list-unstyled.tech-stack
          %li.ruby-on-rails
            %i.fa.fa-diamond
            Ruby on Rails
          %li.grape-api
            %i.fa.braces {}
            Grape API
          %li.postgresql
            %i.fa.fa-database
            PostgreSQL
          %li.angularjs
            %i.fa.fa-angularjs
            AngularJS
          %li.html5
            %i.fa.fa-html5
            HTML5
          %li.css3
            %i.fa.fa-css3
            CSS3

    .row.casestudy.text-center
      .container
        .row
          .col-sm-10.col-sm-offset-1
            %h2.casestudy-title TrustBooks
    .casestudy-image
      %img.img-responsive{:alt => "", :src => "{% asset_path features/trustbooks_devices.png %}"}
    .row
      .col-sm-6
        %p
          Only two things scare lawyers: Trust accounting and other lawyers. This exciting
          SaaS solution makes trust accounting dead simple, and ensures that lawyers
          stay compliant with their State Bar without hiring expensive specialists. TrustBooks
          has built-in controls to ensure firms stay on track while managing all of the necessary
          workflows, from printing checks to reconciling accounts. Think of QuickBooks
          without the headache.

      .col-sm-6
        %p
          Our priorities during the Version 1 build were simplicity and security. Since
          accounting tools are intrinsically complex we followed a rigorous "front first"
          approach to test workflows before any backend functionality was added.
          And given the sensitive nature of the legal market we took extra precautions against
          malicious use. TrustBooks users can be confident that their data is being
          protected by best practice architecture and best-in-class infrastructure
          providers.
    .row
      .col-sm-12
        %h4 Technologies
        %ul.list-unstyled.tech-stack
          %li.ruby-on-rails
            %i.fa.fa-diamond
            Ruby on Rails
          %li.postgresql
            %i.fa.fa-database
            PostgreSQL
          %li.jquery
            %i.fa.fa-jquery
            jQuery
          %li.html5
            %i.fa.fa-html5
            HTML5
          %li.css3
            %i.fa.fa-css3
            CSS3

    .row.casestudy.text-center
      .container
        .row
          .col-sm-10.col-sm-offset-1
            %h2.casestudy-title Noozible
    .casestudy-image
      %img.img-responsive{:alt => "", :src => "{% asset_path features/noozible_devices.png %}"}
    .row
      .col-sm-6
        %p
          We don't know what the future of journalism looks like, but it probably isn't
          bundles of paper being hurled at your door by passing cyclists.
          Instead our bet was on Noozible: News that was "curated, shared and discussed by and
          with your friends, unfiltered by traditional media." The Noozible team
          gave serious news enthusiasts the means to create and share their own
          "noozpapers" in a news-based social network.

      .col-sm-6
        %p
          Our strategy with Noozible was fast product execution to get core features
          into the hands of beta testers as soon as possible. Simple workflows
          and minimalist design let the main draw of Noozible
          shine through: User-generated news stories. We worked with the Noozible team
          from day one to implement core value features for the MVP and
          usage analytics tools that collected rich engagement data.
          Ultimately these data informed the decision to discontinue after the pilot
          by carefully measuring KPIs against user acquisition cost
          and lifetime value analyses.

    .row
      .col-sm-12
        %h4 Technologies
        %ul.list-unstyled.tech-stack
          %li.ruby-on-rails
            %i.fa.fa-diamond
            Ruby on Rails
          %li.postgresql
            %i.fa.fa-database
            PostgreSQL
          %li.jquery
            %i.fa.fa-jquery
            jQuery
          %li.html5
            %i.fa.fa-html5
            HTML5
          %li.css3
            %i.fa.fa-css3
            CSS3
-# %section#past-work
-#   .container
-#     .row.text-center.section-title
-#       .col-sm-8.col-sm-offset-2
-#         %h2 Open Source and Other Projects
-#     .portfolio-wrapper
-#       %ul.portfolio-filter.text-center
-#         %li
-#           %a.active{"data-filter" => "*", :href => "#"} Show All
-#         %li
-#           %a{"data-filter" => ".full", :href => "#"} Projects
-#         %li
-#           %a{"data-filter" => ".open-source", :href => "#"} Open Source
-#       / /#portfolio-filter
-#       .row.portfolio-items
-#         .col-sm-4.col-md-3.portfolio-item.full
-#           .portfolio-content
-#             %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/infohounds.jpg %}"}
-#               .folio-overlay
-#                 %a.folio-detail{"data-gallery" => "prettyPhoto",
-#                   :href => "{% asset_path portfolio/ih_infographic-thumb.png %}",
-#                   :title => "InfoHounds is a data service for the mortgage industry. Lockstep was born out of the core InfoHounds technology team, and we continue to maintain the service and play a key role in its technical strategy."}
-#                   %i.fa.fa-plus
-#         .col-sm-4.col-md-3.portfolio-item.full
-#           .portfolio-content
-#             %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/cisco-thumb.jpg %}"}
-#               .folio-overlay
        -#         %a.folio-detail{"data-gallery" => "prettyPhoto", :href => "{% asset_path portfolio/cisco.png %}", :title => "One of Cisco's latest web products is an interface that allows users to set up various configurations of Cisco hardware (routers, switches, etc) in a drag-and-drop GUI, then run and interface with real hardware that spins up according to the user's design. This lets the user test (and teach) various configurations without having to purchase the actual devices. We helped build the drag-and-drop GUI, increased their test coverage and built performance optimization tools into the deployment process."}
        -#           %i.fa.fa-plus
        -# .col-sm-4.col-md-3.portfolio-item.full
        -#   .portfolio-content
        -#     %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/upshare-thumb.png %}"}
        -#       .folio-overlay
        -#         %a.folio-detail{"data-gallery" => "prettyPhoto", :href => "{% asset_path portfolio/upshare.png %}", :title => "Upshare is an innovative social sharing rewards platform. They process a TON of data for their content partners, so we dropped into their existing team to help them query and display key metrics on a highly interactive dashboard. We also helped them tackle scalability issues in their API and improved their test coverage."}
        -#           %i.fa.fa-plus
        -# .col-sm-4.col-md-3.portfolio-item.full
        -#   .portfolio-content
        -#     %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/pacethis-thumb.jpg %}"}
        -#       .folio-overlay
        -#         %a.folio-detail{"data-gallery" => "prettyPhoto", :href => "{% asset_path portfolio/pacethis.png %}", :title => "PaceThis was a running analytics platform that enabled serious athletes to track, analyze, and plan their workouts in preparation for events (e.g. marathons). We built the beta version, allowing runners with Garmin GPS watches to import their workouts directly into the site and see resulting maps and metrics."}
        -#           %i.fa.fa-plus
        -# .col-sm-4.col-md-3.portfolio-item.open-source
        -#   .portfolio-content
        -#     %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/stackchat-thumb.jpg %}"}
        -#       .folio-overlay
        -#         %a.folio-detail{"data-gallery" => "prettyPhoto", :href => "{% asset_path portfolio/stackchat.png %}", :title => "We built this fully real-time chat extension as a fun side project. Stack Overflow is the largest community Q&A site for developers, and this allows users to chat about the questions and answers via a slide-out panel in their Chrome browser. The extension is powered by Firebase and AngularJS. Check it out on GitHub at lockstep/stackchat."}
        -#           %i.fa.fa-plus
        -# .col-sm-4.col-md-3.portfolio-item.open-source
        -#   .portfolio-content
        -#     %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/node_boilerplate.jpg %}"}
        -#       .folio-overlay
        -#         %a.folio-detail{"data-gallery" => "prettyPhoto", :href => "{% asset_path portfolio/node_boilerplate.jpg %}", :title => "Many developers have used our Node boilerplate code as a starting point for their Node.js projects. You can find it on GitHub at hiattp/express3-mongodb-bootstrap-demo."}
        -#           %i.fa.fa-plus
        -# .col-sm-4.col-md-3.portfolio-item.full
        -#   .portfolio-content
        -#     %img.img-responsive{:alt => "", :src => "{% asset_path portfolio/imanifold-thumb.jpg %}"}
        -#       .folio-overlay
        -#         %a.folio-detail{"data-gallery" => "prettyPhoto", :href => "{% asset_path portfolio/imanifold.png %}", :title => "This client needed a custom server that receives JSON data from a mobile application, converts the information into a nicely designed PDF report, and emails the report to the end customer. The web stack we used is Rails 4, and the PDF generation was accomplished with Prawn. Note: We were not responsible for the design of the template. Image used with permission."}
        -#           %i.fa.fa-plus
/ /#portfolio
-# #testimonial.parallax-section
-#   .parallax-content
-#     .color-overlay
-#     %a.testimony-left{"data-slide" => "prev", :href => "#testimonial-carousel"}
-#       %i.fa.fa-angle-left
-#     %a.testimony-right{"data-slide" => "next", :href => "#testimonial-carousel"}
-#       %i.fa.fa-angle-right
-#     .container
-#       .row
-#         .col-sm-8.col-sm-offset-2
-#           #testimonial-carousel.carousel.slide{"data-ride" => "carousel"}
-#             .carousel-inner.text-center
-#               .item.active
-#                 %img.img-responsive.img-circle{:alt => "", :src => "{% asset_path testimonial/client1.jpg %}"}
-#                 %p
-#                   Octopus is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it. Thanks to Team Octopus.
-#                   %span CEO, Google
-#               .item
-#                 %img.img-responsive.img-circle{:alt => "", :src => "{% asset_path testimonial/client2.jpg %}"}
-#                 %p
-#                   Octopus is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it. Thanks to Team Octopus.
-#                   %span CEO, Google
-#               .item
-#                 %img.img-responsive.img-circle{:alt => "", :src => "{% asset_path testimonial/client3.jpg %}"}
-#                 %p
-#                   Octopus is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it. Thanks to Team Octopus.
-#                   %span CEO, Google
-# / /#testimonial
-# %section#our-team.padding-top.padding-bottom
-#   .container
-#     .row.text-center.section-title
-#       .col-sm-8.col-sm-offset-2
-#         %h2 Our Team
-#         %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
-#     .team-members.text-center
-#       .row
-#         .col-sm-6.col-md-3
-#         .col-sm-6.col-md-3
-#           .member
-#             .member-image
-#                 .member-overlay
-#                   %a{:href => "#"}
-#                     %i.fa.fa-plus
-#             .member-info
-#               %h4 Ronald Cook
-#               %p WEB DEVELOPER
-#             %ul.member-social
-#               %li
-#                 %a.facebook{:href => "#"}
-#                   %i.fa.fa-facebook
-#               %li
-#                 %a.twitter{:href => "#"}
-#                   %i.fa.fa-twitter
-#               %li
-#                 %a.linkedin{:href => "#"}
-#                   %i.fa.fa-linkedin
-#               %li
-#                 %a.dribbble{:href => "#"}
-#                   %i.fa.fa-dribbble
-#         .col-sm-6.col-md-3
-#           .member
-#             .member-image
-#                 .member-overlay
-#                   %a{:href => "#"}
-#                     %i.fa.fa-plus
-#             .member-info
-#               %h4 Darlene D. Lyons
-#               %p MANAGER SUPPORT
-#             %ul.member-social
-#               %li
-#                 %a.facebook{:href => "#"}
-#                   %i.fa.fa-facebook
-#               %li
-#                 %a.twitter{:href => "#"}
-#                   %i.fa.fa-twitter
-#               %li
-#                 %a.linkedin{:href => "#"}
-#                   %i.fa.fa-linkedin
-#               %li
-#                 %a.dribbble{:href => "#"}
-#                   %i.fa.fa-dribbble
-#         .col-sm-6.col-md-3
-#           .member
-#             .member-image
-#                 .member-overlay
-#                   %a{:href => "#"}
-#                     %i.fa.fa-plus
-#             .member-info
-#               %h4 Martin Black
-#               %p Web Developer
-#             %ul.member-social
-#               %li
-#                 %a.facebook{:href => "#"}
-#                   %i.fa.fa-facebook
-#               %li
-#                 %a.twitter{:href => "#"}
-#                   %i.fa.fa-twitter
-#               %li
-#                 %a.linkedin{:href => "#"}
-#                   %i.fa.fa-linkedin
-#               %li
-#                 %a.dribbble{:href => "#"}
-#                   %i.fa.fa-dribbble
-# / /#Our team
-# %section#hot-octopus.padding-top.off-white
-#   .container
-#     .row.text-center.section-title
-#       .col-sm-8.col-sm-offset-2
-#         %h2 Hot with Octopus
-#         %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
-#     .hot-features
-#       .row
-#         .col-sm-6.col-md-4
-#           .hot-feature
-#             .icon
-#               %i.fa.fa-globe
-#             .feature
-#               %h3 Web Design
-#               %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#           .hot-feature
-#             .icon
-#               %i.fa.fa-paper-plane
-#             .feature
-#               %h3 Bootstrap
-#               %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#         .col-sm-6.col-md-4
-#           %img.img-responsive{:alt => "", :src => "{% asset_path hot-features/hot-features-bg.png %}"}
-#         .col-sm-6.col-md-4
-#           .hot-feature
-#             .icon
-#               %i.fa.fa-camera
-#             .feature
-#               %h3 Photography
-#               %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-#           .hot-feature
-#             .icon
-#               %i.fa.fa-cog
-#             .feature
-#               %h3 Wordpress
-#               %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
-# / /#hot-octopus
-# #twitter.text-center.parallax-section
-#   .parallax-content
-#     .color-overlay
-#     %a.twitter-left-control{"data-slide" => "prev", :href => "#twitter-slide", :role => "button"}
-#       %i.fa.fa-angle-left
-#     %a.twitter-right-control{"data-slide" => "next", :href => "#twitter-slide", :role => "button"}
-#       %i.fa.fa-angle-right
-#     .container
-#       .row
-#         .col-sm-8.col-sm-offset-2
-#           .twitter-icon
-#             %i.fa.fa-twitter
-#           #twitter-slide.carousel.slide{"data-ride" => "carousel"}
-#             .carousel-inner
-#               .item.active
-#                 %a{:href => "#"}
-#                   Octopus is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it.
-#                   %span 5 hours ago
-#               .item
-#                 %a{:href => "#"}
-#                   Octopus is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it.
-#                   %span 9 hours ago
-#               .item
-#                 %a{:href => "#"}
-#                   Octopus is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it.
-#                   %span 2 hours ago
-# / /#twitter
-# %section#blog.padding-top.bottom60
-#   .container
-#     .row.text-center.section-title
-#       .col-sm-8.col-sm-offset-2
-#         %h2 Latest Blog
-#         %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
-#     .row
-#       .col-sm-6
-#         .blog-content
-#           .entry-header
-#             .blog-image
-#               %img.img-responsive{:alt => "", :src => "{% asset_path blog/post1.jpg %}"}
-#               .more-link
-#                 %a{:href => "#"}
-#                   %i.fa.fa-plus
-#             .post-date
-#               %h2
-#                 21
-#                 %span June
-#           .entry-content
-#             %h3.entry-title
-#               %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
-#             %ul.entry-meta
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-user
-#                   By: Admin
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-tags
-#                   Photograph
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-comments
-#                   3 Comments
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#       .col-sm-6
-#         .blog-content
-#           .entry-header
-#             .blog-image
-#               %img.img-responsive{:alt => "", :src => "{% asset_path blog/post2.jpg %}"}
-#               .more-link
-#                 %a{:href => "#"}
-#                   %i.fa.fa-plus
-#             .post-date
-#               %h2
-#                 21
-#                 %span June
-#           .entry-content
-#             %h3.entry-title
-#               %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
-#             %ul.entry-meta
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-user
-#                   By: Admin
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-tags
-#                   Photograph
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-comments
-#                   3 Comments
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#       .col-sm-6
-#         .blog-content
-#           .entry-header
-#             .blog-image
-#               %img.img-responsive{:alt => "", :src => "{% asset_path blog/post3.jpg %}"}
-#               .more-link
-#                 %a{:href => "#"}
-#                   %i.fa.fa-plus
-#             .post-date
-#               %h2
-#                 21
-#                 %span June
-#           .entry-content
-#             %h3.entry-title
-#               %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
-#             %ul.entry-meta
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-user
-#                   By: Admin
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-tags
-#                   Photograph
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-comments
-#                   3 Comments
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#       .col-sm-6
-#         .blog-content
-#           .entry-header
-#             .blog-image
-#               %img.img-responsive{:alt => "", :src => "{% asset_path blog/post4.jpg %}"}
-#               .more-link
-#                 %a{:href => "#"}
-#                   %i.fa.fa-plus
-#             .post-date
-#               %h2
-#                 21
-#                 %span June
-#           .entry-content
-#             %h3.entry-title
-#               %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
-#             %ul.entry-meta
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-user
-#                   By: Admin
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-tags
-#                   Photograph
-#                   %span /
-#               %li
-#                 %a{:href => "#"}
-#                   %i.fa.fa-comments
-#                   3 Comments
-#             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
-#
-# %section#contact-us.parallax-section
-#   .parallax-content
-#     .color-overlay
-#     .container
-#       .row.text-center.section-title
-#         .col-sm-8.col-sm-offset-2
-#           %h2 Contact Us
-#           %p Let's talk about how we can help your next project succeed.
%section#contact-us
  .container
    .row.text-center.section-title
      .col-sm-12
        %h2 Contact Us
        %p
          Let's chat about your next project! We'll respond within one business
          day to set up a call.
    .row.text-center.section-title
      -# .col-sm-7
      -#   %form#contact-form{:name => "contact-form"}
      -#     #mail-result.alert.alert-success.hidden message
      -#     .row
      -#       .col-sm-6
      -#         .form-group
      -#           %input#message-name.form-control{:name => "name", :placeholder => "Name", :required => "required", :type => "text"}
      -#       .col-sm-6
      -#         .form-group
      -#           %input#message-email.form-control{:name => "email", :placeholder => "Email", :required => "required", :type => "email"}
      -#     .form-group
      -#       %input#message-subject.form-control{:name => "subject", :placeholder => "Subject", :required => "required", :type => "text"}
      -#     .form-group
      -#       %textarea#message-content.form-control{:name => "message", :placeholder => "Message", :required => "required", :rows => "4"}
      -#     .form-group
      -#       %button.btn.btn-submit{id: 'send-message', :type => "submit"} Send Message
      .col-sm-6.col-sm-offset-3
        .contact-info
          %h3 Lockstep Labs
          %ul
            %li
              .row
                .col-xs-12
                  info@locksteplabs.com
                  %br
                  Phone: 908 442 8875
            %br
            %li
              .row
                .col-xs-12
                  500 Westover Dr
                  %br
                  Suite 2353
                  %br
                  Sanford, NC 27330
        %br
        %br
%footer#footer
  .container.text-center
    %p
      &copy; 2015-2017 Lockstep Labs, Inc.
  %a.to-top{"data-scroll" => "", :href => "#main-home-section"}
    top
